.depoimento-bg {
  background: beige;
}

.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

.depoimento img {
  width: 1220px;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  transform: rotateY(180deg);
  grid-column: 1 / 3;
}

.depoimento-conteudo {
  font-size: 2em;
  padding: 40px 40px 80px 80px;
  grid-column: 2 / -1;
  justify-self: center;
}

.depoimento-conteudo p {
  max-width: 32ch;
  font-family: Poppins, sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 32px;
  position: relative;
}

.depoimento p::before {
  content: "“";
  left: -50px;
  top: -20px;
  font-family: Merriweather;
}

.depoimento p::after {
  content: "”";
  font-family: Merriweather;
}

.depoimento p::before, .depoimento p::after {
    font-size: 5rem;
    color: rgba(0, 0, 0, .5);
    position: absolute;
}

@media (max-width: 720px) {
  .depoimento {
    display: block;
    overflow: hidden;
  }
  .depoimento img {
    transform: scale(1);
    object-fit:cover;
    margin: 0 auto;
    padding-bottom: 5px;
  }
  .depoimento p {
    font-size: .75em;
  }
}