body {
  margin: 0px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #111111;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 720px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
