.header-bg {
  background: black;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header img {
  width: 80px;
  grid-column: 0;
}

.menu {
  grid-column: -1;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 1.25em;
}

.menu li {
padding: 16px 0px;
position: relative;
color: white;
transition: all .35s ease;
}

@media (min-width: 720px) {
  .menu li {
    &::before {
        content: ""; 
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color:aqua;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }   
    &:hover {
        color: aqua;
        &::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }   
    }   
}
}

@media (max-width: 720px) {
  .header {
    display: grid;
    grid-template-columns: 200px;
    justify-items: center;
  }
  .header img {
    grid-column: 1;
    margin: 0 auto;
    transform: scale(1.1);
  }
  .menu ul {
    display: flex;
    gap: 20px;
    margin-right: 5px;
  }
  .menu ul{
    transform: rotate(180deg);
  }
  .menu li {
    display: block;
    grid-column: -1;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    background: #1080d2;
    border: solid 2px lightblue;
    border-radius: 20px;
  }

  .menu ul > li {
    transform: rotate(-180deg);
    justify-content: end;
  }
}
@media (max-width: 600px) {
  .header {
    grid-template-columns: 120px;
  }
}
@media (max-width: 300px) {
  .header {
    display: block;
  }
  .header img {
    transform: scale(.8);
  }
  .menu ul {
    margin-top: 20px;
  }
  .menu li {
    display: flex;
    font-size: .6em;
  }
  .menu li:nth-child(3) {
    display: none;
  }

}
