.header-bg {
  background: black;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header img {
  width: 80px;
  grid-column: 0;
}

.menu {
  grid-column: -1;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 1.25em;
}

.menu a {
  padding: 16px 0px;
  position: relative;
  color: white;
}

@media (max-width: 720px) {
  .header {
    display: grid;
    grid-template-columns: 200px;
    justify-items: center;
  }
  .header img {
    grid-column: 1;
    margin: 0 auto;
    transform: scale(1.1);
  }
  .menu ul {
    display: flex;
    gap: 20px;
  }
  .menu ul{
    transform: rotate(180deg);
  }
  .menu li {
    display: block;
    grid-column: -1;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    background: #1080d2;
    border: solid 2px lightblue;
    border-radius: 20px;
  }
  .menu ul > li {
    transform: rotate(-180deg);
    justify-content: end;
  }
}
